
@media print {
    *,
  *::before,
  *::after {
      text-shadow: none !important;
      box-shadow: none !important;
    }
  
    a:not(.btn) {
      text-decoration: underline;
    }
  
    abbr[title]::after {
      content: " (" attr(title) ")";
    }
  
    pre {
      white-space: pre-wrap !important;
    }
  
    pre,
  blockquote {
      border: 1px solid #adb5bd;
      page-break-inside: avoid;
    }
  
    thead {
      display: table-header-group;
    }
  
    tr,
  img {
      page-break-inside: avoid;
    }
  
    p,
  h2,
  h3 {
      orphans: 3;
      widows: 3;
    }
  
    h2,
  h3 {
      page-break-after: avoid;
    }
  
    @page {
      size: a3;
    }
    body {
      min-width: 992px !important;
    }
  
    .container {
      min-width: 992px !important;
    }
  
    .navbar {
      display: none;
    }
  
    .badge {
      border: 1px solid #22252A;
    }
  
    .table {
      border-collapse: collapse !important;
    }
    .table td,
  .table th {
      background-color: #fff !important;
    }
  
    .table-bordered th,
  .table-bordered td {
      border: 1px solid #dee2e6 !important;
    }
  
    .table-dark {
      color: inherit;
    }
    .table-dark th,
  .table-dark td,
  .table-dark thead th,
  .table-dark tbody + tbody {
      border-color: #dee2e6;
    }
  
    .table .thead-dark th {
      color: inherit;
      border-color: #dee2e6;
    }
  }
  html, body {
    height: 100%;
  }
  
  body {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    line-height: 24px;
    color: #22252A;
    background-color: #ACABAB;
    overflow-x: hidden;
  }
  
  .sidebar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 250px;
    background-color: #fff;
  }
  .sidebar-header {
    padding: 10px 20px;
    font-size: 18px;
    line-height: 1.5;
    border-bottom: 1px solid #f2f2f2;
    border-left: 1px solid #f2f2f2;
    box-sizing: border-box;
  }
  .sidebar-header a {
    font-weight: 600;
  }
  .sidebar-header a:hover {
    text-decoration: none;
  }
  .sidebar-header a ion-icon {
    position: relative;
    top: 3px;
    margin-right: 5px;
  }
  .sidebar-nav .nav-item {
    position: relative;
  }
  .sidebar-nav .nav-link {
    padding-left: 50px;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 700;
    letter-spacing: 1px;
    transition: all 0.2s ease-in-out;
  }
  @media screen and (prefers-reduced-motion: reduce) {
    .sidebar-nav .nav-link {
      transition: none;
    }
  }
  .sidebar-nav .nav-link:not(.disabled) {
    color: #22252A;
  }
  .sidebar-nav .nav-link::before, .sidebar-nav .nav-link::after {
    content: "";
    position: absolute;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
  }
  @media screen and (prefers-reduced-motion: reduce) {
    .sidebar-nav .nav-link::before, .sidebar-nav .nav-link::after {
      transition: none;
    }
  }
  .sidebar-nav .nav-link::before {
    top: 0;
    right: 0;
    width: 3px;
    height: 100%;
    border-radius: 4px;
    background-color: #59236F;
  }
  .sidebar-nav .nav-link::after {
    top: calc(50% - 4px);
    right: 3px;
    border-right: 4px solid #59236F;
    border-bottom: 4px solid transparent;
    border-top: 4px solid transparent;
  }
  .sidebar-nav .nav-link:hover:not(.disabled) {
    color: #59236F;
    background-color: rgba(89, 35, 111, 0.05);
    transition: all 0.2s ease-in-out;
  }
  @media screen and (prefers-reduced-motion: reduce) {
    .sidebar-nav .nav-link:hover:not(.disabled) {
      transition: none;
    }
  }
  .sidebar-nav .nav-link:hover:not(.disabled)::before, .sidebar-nav .nav-link:hover:not(.disabled)::after {
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
  }
  @media screen and (prefers-reduced-motion: reduce) {
    .sidebar-nav .nav-link:hover:not(.disabled)::before, .sidebar-nav .nav-link:hover:not(.disabled)::after {
      transition: none;
    }
  }
  .sidebar-nav .nav-link ion-icon {
    position: absolute;
    left: 15px;
    top: 8px;
    font-size: 23px;
  }
  
  .content {
    margin-left: 250px;
  }
  .content-header {
    padding: 10px 20px;
    border-bottom: 1px solid #f2f2f2;
    border-left: 1px solid #f2f2f2;
    box-sizing: border-box;
    background-color: #fff;
  }
  .content-header h2 {
    margin: 0;
    font-size: 18px;
    line-height: 1.5;
  }
  .content-header .btn {
    margin-top: -2px;
  }
  
  .btn-uppercase {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    font-size: 9px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 700;
  }
  .btn-rounded {
    border-radius: 25px;
  }
  .btn-group-rounded .btn:first-child {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
  }
  .btn-group-rounded .btn:last-child {
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
  }
  .btn-toolbar-rounded {
    width: 28px;
    height: 28px;
    padding: 0;
    text-align: center;
    line-height: 31px;
    border-radius: 18px;
  }
  .btn-toolbar-rounded ion-icon {
    font-size: 16px;
  }
  
  .document-container {
    min-height: 100%;
    margin: 40px 5px 20px;
  }
  .document-container canvas {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    background-color: #fff;
  }
  .document-container canvas:last-child {
    margin-bottom: 0;
  }
  .document-container .digital-signature {
    position: absolute;
    margin-left: 20px;
    padding: 20px;
    display: inline-block;
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  .document-container .digital-signature img {
    max-width: 150px;
    height: auto;
  }
  .document-container .digital-signature--remove::before {
    content: "x";
    position: absolute;
    top: -11px;
    right: -11px;
    width: 22px;
    height: 22px;
    text-align: center;
    font-size: 12px;
    line-height: 20px;
    border-radius: 50%;
    background-color: #ee5253;
    color: #fff;
  }
  .document-container .digital-signature--remove:hover {
    cursor: pointer;
  }
  .document-toolbar {
    padding: 9px 20px 10px;
    border-left: 1px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2;
    box-sizing: border-box;
    background-color: #fafafa;
  }
  .document-toolbar-sticky {
    position: fixed;
    z-index: 1020;
    top: 0;
    left: 250px;
    width: calc(100% - 250px);
  }
  .document-toolbar .go-page {
    position: relative;
    display: inline-block;
  }
  .document-toolbar .go-page input[type=number] {
    height: 26px;
    width: 40px;
    text-align: center;
    border: none;
    border-bottom: 1px solid #59236F;
    background-color: transparent;
    -moz-appearance: textfield;
  }
  .document-toolbar .go-page input[type=number]::-webkit-inner-spin-button, .document-toolbar .go-page input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
  }
  .document-toolbar .go-page input[type=number]:focus {
    outline: none;
  }
  .document-toolbar .go-page .arrow-dropup,
  .document-toolbar .go-page .arrow-dropdown {
    position: absolute;
    right: 0;
    width: 15px;
    height: 12px;
    padding: 0;
    text-align: center;
    line-height: 12px;
    border: none;
    background-color: transparent;
  }
  .document-toolbar .go-page .arrow-dropup:focus,
  .document-toolbar .go-page .arrow-dropdown:focus {
    outline: none;
  }
  .document-toolbar .go-page .arrow-dropup ion-icon,
  .document-toolbar .go-page .arrow-dropdown ion-icon {
    font-size: 18px;
    position: absolute;
    left: calc(50% - 9px);
  }
  .document-toolbar .go-page .arrow-dropup {
    top: 0;
  }
  .document-toolbar .go-page .arrow-dropup ion-icon {
    bottom: -5px;
  }
  .document-toolbar .go-page .arrow-dropdown {
    bottom: 1px;
  }
  .document-toolbar .go-page .arrow-dropdown ion-icon {
    top: -5px;
  }
  
  /*# sourceMappingURL=style.css.map */
  